

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Georgia, 'Times New Roman', Times, serif";
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1673526759327-54f1f5b27322?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}

.wrapper{
    width: 420px;
    background-color: transparent;
    border: 2px solid white;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .8);
    color: white;
    border-radius: 2%;
}

.wrapper h1{
    font-size: 30px;
    text-align: center;
    margin: 2%;
}

.wrapper .ip{
    width: 100%;
    height: 50%;
    margin: 30px 0;
    position: relative;
    color: white;
    border-radius: 2%;
    
}

.ip input{
    border: none;
    outline: none;
    border-image: linear-gradient(90deg, #ffffff, #9636f9) 1;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 2px solid;
    border-bottom: 2px solid;
    color: white;
    width: 100%;
    height: 35px;
    background: transparent;
    padding-left: 4%;
    font-size: large;
    border-radius: 2%;
}
.ip input::placeholder{
    color: white;
}

.ip i{
    position: absolute;
    right: 20px;
    top: 25%;
    font-size: 20px;
}

.wrapper form{
    margin: 7%;

}

.button{
    border: none;
    outline: none;
    background-color: white;
    text-align: center;
    color: #803cc4;
    padding: 1%;
    width: 35%;
    height: 35px;
    margin: 6%;
    font-size: large;
    border-radius: 3%;
}
.btn{
    display: flex;
    justify-content: center;
}


.btn :hover{
    border: 2px solid white;
    background: transparent;
    cursor: pointer;
    color: white;
}

.forgot{
    display: flex;
    justify-content: flex-end;
}

.forgot a{
  background: linear-gradient(90deg, #ffffff, #a66fdd, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.reg{
    display: flex;
    justify-content: center;
    margin: 2%;
}
.reg a{
  background: linear-gradient(90deg, #dad5d5, #ac76e2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}